$primary: #066e8a;
$body-color: white;
$body-bg: $primary;
$link-color: $body-color;

@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins";

a {
  font-weight: bold;
}

span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28255, 255, 255, 0.5%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

// Optional
@import "node_modules/bootstrap/scss/bootstrap";

.bg-primary {
  * {
    color: color-yiq($primary);
  }
}

.card {
  color: #222
}

.portfolio-card {
  @extend .card;
  @extend .bg-dark;
  color: white;
  .card-title {
    @extend .h3;
  }
}

.card-deck {
  @extend .mx-0;
  display: grid;
  grid-template-columns: 50% auto;
  grid-auto-columns: 50%;
  grid-gap: 1em;
  .card {
    @extend .mx-0;
  }
}

// Delegate container padding to children so we can have full width 
.container-fluid {
  padding: 0;
  > * {
    padding: 0 $spacer;
  }
}

section#post a {
  color: #039;
  &:hover {
    color: #006;
  }
}