@import "./base.scss";
@import "../../node_modules/bootstrap/scss/type";

.hero {
  min-height: 100vh;
  @include media-breakpoint-up(md) {
    display: grid;
    grid-template-columns: 66% auto;
    align-items: center;
  }
}

.heroTextContainer {
  @extend .mx-md-5;
  @extend .d-flex;
  @extend .flex-column;
  @extend .justify-content-center;
  min-height: 86vh;
  @include media-breakpoint-down(sm) {
    width: 100%;
  }
}

.heroHeadline {
  @extend .display-2;
  font-weight: bold;
  grid-column: 1;
  @include media-breakpoint-down(sm) {
    font-size: 3rem;
    // width: 100%;
  }
}

@keyframes flipIn {
  from {
    transform: translateY(2em) rotateX(0) rotateY(0deg);
    opacity: 0;
  }
  to {
    transform: translateY(0) rotateX(-15deg) rotateY(15deg);
    opacity: 1;
  }
}

.heroImage {
  transform: rotateX(-15deg) rotateY(15deg);
  box-shadow: .5em .5em 0.2em 0.2em rgba($gray-700, 0.4);
  margin-bottom: 2em;
  width: auto;
  height: auto;
  animation: flipIn 1s ease-in-out 0s;
}
