@import "./base.scss";

@include media-breakpoint-down(sm) {
  .main {
    display: flex;
    flex-direction: column;
  }
}
@include media-breakpoint-up(md) {
  .main {
    display: grid;
    grid-template-columns: 25% auto;
  }
}
